<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
        <meta description content="{{description}}">
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css"
    </head>

    <body>
        {{description}}
    </body>
</html>